body {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 5em;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 21em;
    gap: 10px;
}

.logo span {
    font-size: 1.8em;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 11em;
    gap: 15px;
}

.nav-link {
    color: lightskyblue;
    text-decoration: none;
}

.nav-missions .active {
    text-decoration: underline;
}

.nav-profile .active {
    text-decoration: underline;
}